#header {
    width: auto;
    height: 110px;
    background-color: #404040;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    .logo img{
    width: 170px;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
    } 
    .menu ul {
    margin: 0px;
    }
    .menu li{
     display: inline-block;    
    }
    .menu a{
    width: 2px;
    height: auto; 
    padding: 0px 5px 0px 0px;
    margin: 0px 15px 5px 0px;
    }   
}
