#sumate__titulo{
    padding-bottom: 30px;
}
#sumate__main {
    background-image: url(../Multimedia/img_nosotros.jpg);
    background-size:cover;
    width: auto;
    height: max-content;
    background-color: #404040;
    display: flex;
    justify-content: center;
    
    #form {textarea {
        width: 420px;
        height: 150px;
        padding: 10px 0px;}
        .fieldset {
            background-color: #F2E8DC;
            width: 500px;   
            height: auto;
            padding: 40px;
            margin: 40px;
            opacity: 80% ;
         }
         .letra__chica {
            font-size: 14px;
        }
        .center__btn {
            text-align: center;
        }
        .field {
            padding: 10px;
            width: 420px;
            border: solid 1px #ccc;
            border-radius: 5px;
        }
        div{
            padding: 10px 0px;
        }
        .btn {
            color: #404040;
            height: 40px;
            width: 50%;
            border-radius: 40px;
            margin: 10px 0px;
            border: #404040 2px solid;
            background-color: white;
            &:hover {
                border: #f26b6b 2px solid;
                background-color: #F9DFD6;
            }
        }
        .accept__form {
            font-size: 15px;
        }
        
        
                
    }
}
